<footer class="footer">
  <div class="footer-container">
    <div class="footer-copy-right">
      <div class="footer-logo">A</div>
      <p class="footer-text">
        Created by Michael Olave, Sean Hammond, Oskar Laing, Sophia Yeskey. <br />&copy; 2024. All
        rights reserved.
      </p>
    </div>
    <div class="footer-shout-out">
      <p class="footer-text">Shout out to</p>
      <p class="footer-text">
        <a class="footer-link" href="https://www.claude.ai/" title="claude ai"
          >Claude AI for converting CSS->Tailwind</a
        >
      </p>
      <p class="footer-text">
        and
        <a class="footer-link" href="https://gemini.google.com/" title="gemini"
          >Gemini for writing commit messages</a
        >
      </p>
    </div>
  </div>
</footer>
