<footer class="footer">
  <div class="footer-container">
    <div class="footer-copy-right">
      <div class="footer-logo">
        <img src="/AngularLogo.svg" alt="Angular Logo" class="footer-logo-img" />
      </div>
      <p class="footer-text">{{ mainText }} <br />&copy; 2025. All rights reserved.</p>
    </div>
    @if (showShoutOut) {
    <div class="footer-shout-out">
      <p class="footer-text">Shout out to</p>
      <p class="footer-text">
        <a class="footer-link" href="https://www.claude.ai/" title="claude ai"
          >Claude AI for converting CSS->Tailwind</a
        >
      </p>
      <p class="footer-text">
        and
        <a class="footer-link" href="https://gemini.google.com/" title="gemini"
          >Gemini for writing commit messages</a
        >
      </p>
    </div>
    }
    <div>
      <button (click)="codeViewer.isOpen = true" id="viewSourceBtn">View Page Source Code</button>
      <app-code-viewer #codeViewer [componentPath]="componentPath" />
    </div>
  </div>
</footer>
