header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin: 5px;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      cursor: pointer;
      &:hover {
        color: #777;
      }
      font-size: xx-large;
    }

    #nav-dropdowns {
      cursor: pointer;
      &:hover {
        color:#777;
      }
      margin: 5px;
      font-size: xx-large;
      text-align: center;
    }
  }
}