<nav class="nav-bar" [class.shadow-xl]="scrolled()">
  <div class="nav-container">
    <div class="logo-wrapper" (click)="[router.navigate(['/'])]">
      <div class="logo-icon">A</div>
      <span class="logo-text">Angular<span class="text-teal-400">DeepDive</span></span>
    </div>

    <!-- Presentation -->
    @if (currentRoute === '/') {
    <div class="nav-menu">
      @for (item of navItems; track item.id) {
      <button
        (click)="scrollTo(item.id)"
        class="nav-item"
        [ngClass]="activeSection() === item.id ? 'nav-item-active' : ''"
      >
        {{ item.label }}
      </button>
      }
    </div>
    }

    <!-- Bingo -->
    @if (currentRoute === '/michael/bingo') {
    <div>
      <span class="nav-header">Bingo</span>
    </div>
    }

    <!-- Tic Tac Toe -->
    @if (currentRoute === '/michael/tic-tac-toe') {
    <div>
      <span class="nav-header">Tic Tac Toe</span>
    </div>
    }

    <!-- Starwars Info -->
    @if (currentRoute === '/michael/starwars-info') {
    <div>
      <span class="nav-header">Starwars Info</span>
    </div>
    }

    <!-- Mineclick -->
    @if (currentRoute === '/sean/dashboard') {
    <div>
      <span class="nav-header">Mineclick</span>
    </div>
    }

    <!-- Speed Type -->
    @if (currentRoute === '/oskar/dashboard') {
    <div>
      <span class="nav-header">Speed Type</span>
    </div>
    }

    <!-- Version Badge With dropdown -->
    <div class="version-dropdown">
      <button class="version-badge" (click)="toggleVersionDropdown()">
        <span>v21.0.0</span>
        <div class="version-indicator"></div>
      </button>
      @if (showVersionDropdown()) {
      <ul class="dropdown-menu">
        @for (dropdownItem of dropdownItems; track dropdownItem.label) {
        <li class="dropdown-item">
          <span [routerLink]="dropdownItem.url">{{ dropdownItem.label }}</span>
        </li>
        }
      </ul>

      }
    </div>
  </div>
</nav>
