<header>
  <nav>
    <span routerLink="/">{{ title() }}</span>
    <span>{{ pageTitle() }}</span>
    <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu" matButton [matMenuTriggerFor]="menu" id="nav-dropdowns"/>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">Home</button>
      <button mat-menu-item routerLink="/michael/dashboard">Michael</button>
      <button mat-menu-item routerLink="/yeskey/dashboard">Yeskey</button>
      <button mat-menu-item routerLink="/sean/dashboard">Sean</button>
      <button mat-menu-item routerLink="/oskar/dashboard">Oskar</button>
    </mat-menu>

  </nav>
</header>