#nav-dropdowns {
  cursor: pointer;
  color: #776;
  &:hover {
    color:#777;
  }
  margin: 5px;
  font-size: xx-large;
  text-align: center;
}

header {
  position: relative;
  z-index: 100;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #111827;
  }
}
