.opponents-margin {
  margin: 8px;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.mat-mdc-card + .mat-mdc-card {
  margin-top: 8px;
}

.opponents-result-card h3 {
  margin: 0 8px;
}

.opponents-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.opponents-card .opponents-value-label {
  font-weight: 600;
}
